<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Calculator</title>
	<link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="./style.css">
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<body>
	<div class="container" id="app">
		<div class="row text-center">
			<div class="col answer-panel">
				<span class="float-right">{{message}}</span>
			</div>
		</div>
		<div class="row">
			<div class="col">
				<button type="button" class="btn btn-secondary btn-block" v-on:click="type('(')">(</button>
			</div>
			<div class="col">
				<button type="button" class="btn btn-secondary btn-block" v-on:click="type(')')">)</button>
			</div>
			<div class="col">
				<button type="button" class="btn btn-secondary btn-block" v-on:click="type('%')">%</button>
			</div>
			<div class="col">
				<button type="button" class="btn btn-secondary btn-block" v-on:click="clear">AC</button>
			</div>
		</div>
		<div class="row">
			<div class="col">
				<button type="button" class="btn btn-light btn-block" v-on:click="type('7')">7</button>
			</div>
			<div class="col">
				<button type="button" class="btn btn-light btn-block" v-on:click="type('8')">8</button>
			</div>
			<div class="col">
				<button type="button" class="btn btn-light btn-block" v-on:click="type('9')">9</button>
			</div>
			<div class="col">
				<button type="button" class="btn btn-secondary btn-block" v-on:click="type('/')">÷</button>
			</div>
		</div>
		<div class="row">
			<div class="col">
				<button type="button" class="btn btn-light btn-block" v-on:click="type('4')">4</button>
			</div>
			<div class="col">
				<button type="button" class="btn btn-light btn-block" v-on:click="type('5')">5</button>
			</div>
			<div class="col">
				<button type="button" class="btn btn-light btn-block" v-on:click="type('6')">6</button>
			</div>
			<div class="col">
				<button type="button" class="btn btn-secondary btn-block" v-on:click="type('*')">×</button>
			</div>
		</div>
		<div class="row">
			<div class="col">
				<button type="button" class="btn btn-light btn-block" v-on:click="type('1')">1</button>
			</div>
			<div class="col">
				<button type="button" class="btn btn-light btn-block" v-on:click="type('2')">2</button>
			</div>
			<div class="col">
				<button type="button" class="btn btn-light btn-block" v-on:click="type('3')">3</button>
			</div>
			<div class="col">
				<button type="button" class="btn btn-secondary btn-block" v-on:click="type('-')">-</button>
			</div>
		</div>
		<div class="row">
			<div class="col">
				<button type="button" class="btn btn-light btn-block" v-on:click="type('0')">0</button>
			</div>
			<div class="col">
				<button type="button" class="btn btn-light btn-block" v-on:click="type('.')">.</button>
			</div>
			<div class="col">
				<button type="button" class="btn btn-primary btn-block" v-on:click="equal">=</button>
			</div>
			<div class="col">
				<button type="button" class="btn btn-secondary btn-block" v-on:click="type('+')">+</button>
			</div>
		</div>
	</div>
	<script src="./controller.js"></script>
</body>

</html>
